// bootstrap API
@import "scss/functions";
@import "scss/variables";
@import "scss/mixins";
@import "scss/root";

// stylelint-disable value-keyword-case
$font-family-sans-serif:      system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
// stylelint-enable value-keyword-case
$font-family-base:            var(--#{$variable-prefix}font-sans-serif);
$font-family-code:            var(--#{$variable-prefix}font-monospace);

// $font-size-root affects the value of `rem`, which is used for as well font sizes, paddings, and margins
// $font-size-base affects the font size of the body text
$font-size-root:              null;
$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .875;
$font-size-lg:                $font-size-base * 1.25;

$font-weight-lighter:         lighter;
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-bold:            700;
$font-weight-bolder:          bolder;

$font-weight-base:            $font-weight-normal;

$line-height-base:            1.5;
$line-height-sm:              1.25;
$line-height-lg:              2;

$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;


.custom-element {
    color: $gray-100;
    background-color: $dark;
  }

  // Create your own map
$custom-colors: (
    "custom-color": rgb(28, 25, 67)
  );
  
  // Merge the maps
  $theme-colors: map-merge($theme-colors, $custom-colors);

// bootstrap main import
@import "scss/bootstrap.scss";

#ribbon{
    background-color: rgb(141, 0, 33);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(234, 120, 223, 0.712) 25px, rgba(234, 120, 223, 0.712) 40px);
}

#ribborn::after{
    content: '';
    background-color: transparent;
    display: block;
    height: 20px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    left: auto;
    margin-top: -30px;

}

#birthday{
    background-color: rgb(255, 174, 223);
    position: relative;
    margin-top: -15px;
    z-index: 10;
    box-shadow: 0 0 10px black;
}

#birthday img{
    position: relative;
    margin-top: -30px;
}

.text-shadow{
    text-shadow: o 3px 3px black;
}

#separator-ribbon{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

#separator-ribbon .content{
    width: 150%;
    height: 150px;
    margin-left: -25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.card-border{
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.card-border:hover{
    transform: scale(1.05);
}